@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.17;
    font-weight: 400;
    background: #efefef;
  }
  button {
    @apply animate-pulse;
    animation-duration: 1s;
  }
  button:hover {
    animation: none;
    background-color: #f2eaf6;
  }
  input {
    transition: all .3s ease-in-out;
    border: 2px solid transparent;
  }
  input:focus-visible {
    outline: none;
    border: 2px solid rebeccapurple;
  }
  input:hover {
    border: 2px solid #828282;
  }
  input:focus {
    background-color: #ede1f9;
    border: 2px solid rebeccapurple;
  }
  *:not(html, body):hover {
    transition: all .2s ease-in-out;
  }
  a {
    display: inline-block;
  }
  a:hover {
    transform: scale(0.95);
    text-decoration: underline;
  }
  label:hover path {
    fill: #828282;
  }
  path {
    transition: all .3s;
  }
  section {
    @apply max-[480px]:py-[40px] !important;
  }
}

@layer components {
  .container {
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
  }
  .header-middle {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
  }
  @media (max-width: 1024px) {
    .header-middle {
      justify-content: center;
    }
    .header-middle>*:nth-child(3) {
      grid-column: span 2;
    }
  }
  .armchair-info {
    background: url("../public/assets/armchair-info/armchair.jpg") center center no-repeat;
  }
  .item-row:not(:last-child) {
    @apply border-b-[1px] border-gray;
  }
  .item-column {
    @apply py-[35px] px-[63px] max-[480px]:flex max-[480px]:justify-center max-[480px]:items-center;
  }
  .item-column:not(:last-child) {
    @apply border-r-[1px] border-gray;
  }
  .item-column:nth-child(2) {
    @apply max-[480px]:hidden;
  }
  .item-column:nth-child(3) {
    @apply max-sm:hidden;
  }
  .item-column:last-child {
    @apply max-md:hidden;
  }
  .item-column:hover .item-img {
    transform: scale(0.93);
    transition: all .3s;
  }
  .item-column {
    cursor: grab;
  }
  .title {
    font-weight: 700;
    font-size: 24px;
    display: inline-block;
    cursor: grab;
    @apply max-[480px]:text-[18px]
  }
  .title:hover {
    transform: scale(1.05);
  }
  .special-offers .item-btn, .recently .item-btn {
    animation: none;
  }
}


